background, #root {
  text-align: center;
  background: linear-gradient(180deg, rgba(250, 214, 221, 0.397), rgba(141, 141, 254, 0.649)); /* Soft pink to light blue gradient with transparency */
  display: flex;
  flex-direction: column; /* Makes the layout flexible */
}
