# Ignore node_modules in both client and server
**/node_modules
**/npm-debug.log

# Ignore logs
*.log
logs/
**/*.log

# Ignore temporary files and directories
.DS_Store
.tmp/
.cache/

# Ignore Git files
.git
.gitignore

# Ignore uploads or large files
uploads/

# Ignore environment variables
.env
.env.local

node_modules
npm-debug.log
