.registerPage {
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 91vh;
}

.registerCard {
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    margin: auto;
}


.title {
    font-size: 2.0rem;
    font-weight: bold;
    -webkit-background-clip: text;
    color:#232229;
    margin-bottom: 4rem; 
}
  