.node-popup {
  font-size: 10px; 
  padding: 4px; 
  border-radius: 4px; 
}

.node-popup rect {
  rx: 4; 
  ry: 4;
}

.link-popup {
  font-size: 8px;
  padding: 3px; 
  border-radius: 3px; 
}

.link-popup rect {
  rx: 3; 
  ry: 3;
}


/*
.node-popup {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #333333;
  text-align: center;
  white-space: nowrap;
}

.node-popup rect {
  fill: #f9f9f9;
  stroke: #cccccc;
  stroke-width: 1;
  rx: 5;
  ry: 5;
}

.node-popup text {
  fill: #333333;
  alignment-baseline: middle;
  text-anchor: middle;
}

.link-popup {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

.link-popup rect {
  fill: rgba(0, 0, 0, 0.8);
  stroke: #ffffff;
  stroke-width: 1;
  rx: 5;
  ry: 5;
}

.link-popup text {
  fill: #ffffff;
  alignment-baseline: middle;
  text-anchor: start;
}
*/