.scrollableCardList {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-family: 'Source Code Pro', monospace;
}

.scrollbarTitle{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}