.scrollableCardList {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 350px;
    max-height: 700px; /* Limita l'altezza per abilitare lo scorrimento */
    overflow-y: auto; /* Aggiunge la barra di scorrimento verticale */
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Source Code Pro', monospace;
    scrollbar-width: thin; /* Stile per Firefox */
    scrollbar-color: #aaa rgba(255, 255, 255, 0.5); /* Stile per Firefox */
}

/* Stile per Chrome, Edge e Safari */
.scrollableCardList::-webkit-scrollbar {
    width: 8px; /* Larghezza della barra */
}

.scrollableCardList::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5); /* Sfondo della traccia */
    border-radius: 4px; /* Arrotondamento della traccia */
}

.scrollableCardList::-webkit-scrollbar-thumb {
    background-color: #aaa; /* Colore della barra di scorrimento */
    border-radius: 4px; /* Arrotondamento della barra */
    border: 1px solid rgba(255, 255, 255, 0.7); /* Bordo attorno alla barra */
}

.scrollableCardList::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Cambia colore al passaggio del mouse */
}

.scrollbarTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.closeButton {
    background-color: transparent; /* Sfondo trasparente */
    border: none; /* Nessun bordo */
    color: black; /* Colore del testo */
    font-size: 0.8rem; /* Testo piccolo */
    width: 20px; /* Larghezza del bottone */
    height: 20px; /* Altezza del bottone */
    display: flex; /* Per centrare il contenuto */
    align-items: center; /* Centrare verticalmente */
    justify-content: center; /* Centrare orizzontalmente */
    border-radius: 50%; /* Bordo arrotondato */
    cursor: pointer; /* Cambia il cursore in mano */
    position: absolute; /* Per posizionarlo su una card */
    top: 10px; /* Posizionamento dall'alto */
    right: 10px; /* Posizionamento da destra */
    transition: background-color 0.2s, transform 0.2s; /* Animazioni */
}

.closeButton:hover {
    background-color: black; /* Sfondo nero al passaggio del cursore */
    color: white; /* Cambia il colore del testo per contrasto */
}

.cardText {
    height: 35px; /* Altezza fissa */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
    white-space: nowrap; /* Evita l'andata a capo */
}