/* Impostazioni generali del contenitore della lista */
.scrollableCardList {
    position: absolute;
    top: 10px;
    left: 10px; /* Cambiato da "right: 10px" a "left: 10px" per spostare a sinistra */
    width: 45vw; 
    max-height: 700px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    font-family: 'Source Code Pro', monospace;
    scrollbar-width: thin; 
    scrollbar-color: #aaa rgba(255, 255, 255, 0.5); 
}

/* Stile per l'intestazione della lista */
.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Titolo della lista */
.scrollbarTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

/* Bottone di chiusura */
.closeButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.closeButton {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.closeButton:hover {
    background-color: black;
    color: white;
}

/* Stile per le card */
.card {
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cardHeader {
    background-color: #f8f9fa;
    font-size: 0.9rem;
    font-weight: bold;
    color: #555;
}

/* Corpo della card */
.cardBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

/* Testo della card */
.cardTitle {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardText {
    font-size: 0.9rem;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Icona nella card */
.cardIcon {
    width: 24px;
    height: 24px;
}

/* Footer della card */
.cardFooter {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.cardFooterButton {
    font-size: 0.8rem;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cardFooterButton:hover {
    background-color: #555;
}
