.mapPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mapContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-top: 1.5px solid black;
    overflow: hidden;
}

.listing {
    width: 55vw;
    left: auto;
    right: 0;
}

.popupContainer {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 45vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    padding: 0; /* Rimosso il padding */
    z-index: 1000;
    display: flex;
    flex-direction: column; /* Layout verticale */

}

.popupHeader {
    display: flex;
    justify-content: flex-end; /* Allinea il pulsante di chiusura a destra */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Linea di separazione per l'intestazione */
}

.closeButton {
    background: none; /* Rimuove lo sfondo di default */
    border: none; /* Rimuove il bordo di default */
    font-size: 20px; /* Dimensione del pulsante */
    cursor: pointer; /* Cambia il cursore per indicare interattività */
    color: #555; /* Colore neutro */
}

.closeButton:hover {
    color: red; /* Cambia colore al passaggio del mouse */
}

.popupContent {
    padding: 15px; /* Spazio interno per il contenuto */
}


.areaButton {
    position: absolute;
    bottom: 235px;
    right: 10px;
    background-color: #333333; /* Grigio scuro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare quando chiuso */
    width: 3rem; /* Larghezza e altezza per il cerchio */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transizione fluida */
    cursor: pointer;
    z-index: 1000;
    transform-origin: right; /* Ancoraggio a destra */
    outline: none; /* Rimuove il contorno focus */
    user-select: none; /* Impedisce la selezione del testo al clic */
    overflow: hidden; 
}

.areaButton:hover {
    background-color: #666666; /* Colore più chiaro al passaggio del mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Effetto ombra aumentato */
}

.addAreaButton {
    position: absolute;
    bottom: 235px;
    right: 60px;
    background-color: #333333; /* Grigio scuro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare quando chiuso */
    width: 3rem; /* Larghezza e altezza per il cerchio */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transizione fluida */
    cursor: pointer;
    z-index: 1000;
    transform-origin: right; /* Ancoraggio a destra */
    outline: none; /* Rimuove il contorno focus */
    user-select: none; /* Impedisce la selezione del testo al clic */
    overflow: hidden; 
}

.addAreaButton:hover {
    background-color: #666666; /* Colore più chiaro al passaggio del mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Effetto ombra aumentato */
}

/* Pulsante per aggiunta in basso a destra */
.addButton {
    position: absolute;
    bottom: 125px;
    right: 10px;
    background-color: #333333; /* Grigio scuro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare quando chiuso */
    width: 3rem; /* Larghezza e altezza per il cerchio */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transizione fluida */
    cursor: pointer;
    z-index: 1000;
    transform-origin: right; /* Ancoraggio a destra */
    outline: none; /* Rimuove il contorno focus */
    user-select: none; /* Impedisce la selezione del testo al clic */
    overflow: hidden; 
}

.listButton {
    position: absolute;
    bottom: 180px; /* Distanza dal bordo inferiore per posizionarlo sopra l'addButton */
    right: 10px; /* Allineamento a destra come addButton */
    background-color: #333333; /* Colore grigio leggermente più chiaro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare */
    width: 3rem; /* Dimensioni uguali a addButton */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transizione fluida */
    cursor: pointer;
    z-index: 1000;
    transform-origin: right; /* Ancoraggio a destra */
    outline: none; /* Rimuove il contorno focus */
    user-select: none; /* Impedisce la selezione del testo */
    overflow: hidden;
}

.listButton:hover {
    background-color: #666666; /* Colore più chiaro al passaggio del mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Effetto ombra aumentato */
}

.satelliteButton {
    position: absolute;
    bottom: 70px; /* Distanza dal bordo inferiore per posizionarlo sopra listButton*/
    right: 10px; /* Allineamento a destra come addButton */
    background-color: #333333; /* Colore grigio leggermente più chiaro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare */
    width: 3rem; /* Dimensioni uguali a addButton */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transizione fluida */
    cursor: pointer;
    z-index: 1000;
    transform-origin: right; /* Ancoraggio a destra */
    outline: none; /* Rimuove il contorno focus */
    user-select: none; /* Impedisce la selezione del testo */
    overflow: hidden;
}

.satelliteButton:hover {
    background-color: #666666; /* Colore più chiaro al passaggio del mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Effetto ombra aumentato */
}

.diagramButton {
    position: absolute;
    bottom: 15px; /* Distanza dal bordo inferiore per posizionarlo sopra listButton*/
    right: 10px; /* Allineamento a destra come addButton */
    background-color: #333333; /* Colore grigio leggermente più chiaro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare */
    width: 3rem; /* Dimensioni uguali a addButton */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transizione fluida */
    cursor: pointer;
    z-index: 1000;
    transform-origin: right; /* Ancoraggio a destra */
    outline: none; /* Rimuove il contorno focus */
    user-select: none; /* Impedisce la selezione del testo */
    overflow: hidden;
}

.diagramButton:hover {
    background-color: #666666; /* Colore più chiaro al passaggio del mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Effetto ombra aumentato */
}


.listButton.hidden {
    opacity: 0; /* Trasparente */
    visibility: hidden; /* Non cliccabile */
}

/* Effetto hover su .addButton */
.addButton:hover {
    background-color: #666666; /* Colore più chiaro al passaggio del mouse */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Effetto ombra aumentato */
}

/* Stato espanso del pulsante */
.addButton.expanded {
    width: auto; /* Larghezza espansa */
    height: 3rem; /* Altezza invariata */
    border-radius: 1.5rem; /* Bordi curvi con altezza uguale al pulsante chiuso */
    padding: 0.5rem 1rem;
    justify-content: flex-start; /* Allinea il contenuto a sinistra */
    font-family: 'Source Code Pro', monospace;
}

.addButton.expanded:hover {
    background-color: #3d3d3d; /* Colore meno chiaro al passaggio del mouse */
}

/* Stato :active senza cambiare colore */
.addButton:active {
    background-color: #333333; /* Mantiene lo stesso colore */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.98); /* Piccola riduzione per l’effetto clic */
    outline: none;
}

/* Effetto click su .addButton */
.addButton:active {
    background-color: #444444;
    transform: scale(0.97);
}

/* Stile per il pulsante "Entire Municipality" */
.buttonLink {
    padding: 8px 10px; /* Margine leggermente maggiore per evidenziare */
    background: linear-gradient(90deg, #8079ff, #ff5d7d); /* Gradient matching theme */
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 40px;
    font-size: 0.9rem;
    font-weight: bold; /* Testo in grassetto */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Ombra più evidente */
}

/* Effetto hover per .buttonLink */
.buttonLink:hover {
    background-color: #0056b3; /* Blu più scuro su hover */
    transform: scale(1.05); /* Leggera espansione su hover */
}

.addButton.expanded .icon {
    margin-right: 0.8rem; /* Aggiungi spazio tra l'icona e il testo */
}

/* Stato invertito per il clic */
.buttonLink.inverted {
    background-color: white; /* Sfondo bianco al clic */
    color: black; /* Testo nero al clic */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25); /* Ombra più accentuata */
}

.spazio{
    width: 0.5rem;
}


/*-------------- for Map Cluster Group --------------------*/
.clusterIcon {
    background-color: #ffffff4a; /* Base color */
    color: rgb(0, 0, 0); /* Text color */
    border-radius: 50%; /* Circular shape */
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Soft shadow */
    transition: transform 0.2s;
}

.clusterIcon:hover {
    transform: scale(1.15); /* Slightly enlarge on hover */
}

.clusterSmall {
    width: 35px;
    height: 35px;
}

.clusterMedium {
    width: 45px;
    height: 45px;
}

.clusterLarge {
    width: 55px;
    height: 55px;
}

.spazio{
    width: 0.5rem;
}


/*-------------- for Map Cluster Group --------------------*/
.clusterIcon {
    background-color: #ffffff4a; /* Base color */
    color: rgb(0, 0, 0); /* Text color */
    border-radius: 50%; /* Circular shape */
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Soft shadow */
    transition: transform 0.2s;
}

.clusterIcon:hover {
    transform: scale(1.15); /* Slightly enlarge on hover */
}

.clusterSmall {
    width: 35px;
    height: 35px;
}

.clusterMedium {
    width: 45px;
    height: 45px;
}

.clusterLarge {
    width: 55px;
    height: 55px;
}

.styles.popup {
    overflow-y: auto;
    width: 500px;
}

.buttonGroupUI {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}