.mapContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 91vh;
    border-top: 2px solid black; /* Solo bordo superiore */
    overflow: hidden;
}


/* Pulsante per aggiunta in basso a destra */
.addButton {
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: #333333; /* Grigio scuro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare quando chiuso */
    width: 3rem; /* Larghezza e altezza per il cerchio */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 1000;
}

/* Effetto hover su .addButton */
.addButton:hover {
    background-color: #495057; /* Colore pi첫 chiaro su hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

/* Stato espanso del pulsante */
.addButton.expanded {
    width: auto; /* Larghezza espansa */
    height: 3rem; /* Altezza invariata */
    border-radius: 1.5rem; /* Bordi curvi con altezza uguale al pulsante chiuso */
    padding: 0.5rem 1rem;
    justify-content: flex-start; /* Allinea il contenuto a sinistra */
    font-family: 'Source Code Pro', monospace;
}

.spazio{
    width: 0.5rem;
}


/* Effetto click su .addButton */
.addButton:active {
    background-color: #444444;
    transform: scale(0.97);
}

/* Stile per il pulsante "Entire Municipality" */
.buttonLink {
    padding: 8px 10px; /* Margine leggermente maggiore per evidenziare */
    background: linear-gradient(90deg, #8079ff, #ff5d7d); /* Gradient matching theme */
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 40px;
    font-size: 0.9rem;
    font-weight: bold; /* Testo in grassetto */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Ombra pi첫 evidente */
}

/* Effetto hover per .buttonLink */
.buttonLink:hover {
    background-color: #0056b3; /* Blu pi첫 scuro su hover */
    transform: scale(1.05); /* Leggera espansione su hover */
}

.addButton.expanded .icon {
    margin-right: 0.8rem; /* Aggiungi spazio tra l'icona e il testo */
}

/* Stato invertito per il clic */
.buttonLink.inverted {
    background-color: white; /* Sfondo bianco al clic */
    color: black; /* Testo nero al clic */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25); /* Ombra pi첫 accentuata */
}

.styles.popup {
    overflow-y: auto;
}