.buttonLink {
    padding: 0 5px; /* Make the button thinner */
    background-color: black; /* Black background */
    color: white; /* White text */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition */
}

.buttonLink.inverted {
    background-color: white; /* White background on click */
    color: black; /* Black text on click */
}

/* Optional: Add hover effect */
.buttonLink:hover {
    background-color: grey; /* Dark grey on hover */
    color: white; /* Keep text white on hover */
}
/* Container for the entire map section */
.mapContainer {
    position: relative;
    margin: 0 auto;
    width: 94%;
    height: 88vh;
    max-width: 100%;
    /*border: 3px solid black;  Black border around the map */
    border-radius: 8px;
    overflow: hidden;
}

/* Map button styled for bottom-right placement */
.addButton {
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: #000000; /* Dark button color */
    color: white;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 1000; /* Ensures button is above the map */
    font-size: x-large;
}

/* Button hover effect */
.addButton:hover {
    background-color: #495057; /* Slightly lighter shade on hover */
}
