.mapContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 94vh;
    border-top: 2px solid black; /* Solo bordo superiore */
    overflow: hidden;
}

/* Pulsante per aggiunta in basso a destra */
.addButton {
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: #333333; /* Grigio scuro */
    color: #ffffff; /* Testo bianco */
    border: none;
    padding: 0.5rem;
    border-radius: 50%; /* Forma circolare quando chiuso */
    width: 3rem; /* Larghezza e altezza per il cerchio */
    height: 3rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 6s ease-in-out, background-color 6s ease-in-out, box-shadow 6s ease-in-out; /* Durata e transizione più fluida */
    cursor: pointer;
    z-index: 1000;
    transform-origin: right; /* Ancoraggio a destra */
    outline: none; /* Rimuove il contorno focus */
    user-select: none; /* Impedisce la selezione del testo al clic */
    overflow: hidden; 
}

/* Effetto hover su .addButton */
.addButton:hover {
    background-color: #495057; /* Colore più chiaro su hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

/* Stato espanso del pulsante */
.addButton.expanded {
    width: auto; /* Larghezza espansa */
    height: 3rem; /* Altezza invariata */
    border-radius: 1.5rem; /* Bordi curvi con altezza uguale al pulsante chiuso */
    padding: 0.5rem 1rem;
    justify-content: flex-start; /* Allinea il contenuto a sinistra */
    font-family: 'Source Code Pro', monospace;
}

/* Stato :active senza cambiare colore */
.addButton:active {
    background-color: #333333; /* Mantiene lo stesso colore */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.98); /* Piccola riduzione per l’effetto clic */
    outline: none;
}

/* Effetto click su .addButton */
.addButton:active {
    background-color: #444444;
    transform: scale(0.97);
}

/* Stile per il pulsante "Entire Municipality" */
.buttonLink {
    padding: 8px 10px; /* Margine leggermente maggiore per evidenziare */
    background: linear-gradient(90deg, #8079ff, #ff5d7d); /* Gradient matching theme */
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 40px;
    font-size: 0.9rem;
    font-weight: bold; /* Testo in grassetto */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Ombra più evidente */
}

/* Effetto hover per .buttonLink */
.buttonLink:hover {
    background-color: #0056b3; /* Blu più scuro su hover */
    transform: scale(1.05); /* Leggera espansione su hover */
}

.addButton.expanded .icon {
    margin-right: 0.8rem; /* Aggiungi spazio tra l'icona e il testo */
}

/* Stato invertito per il clic */
.buttonLink.inverted {
    background-color: white; /* Sfondo bianco al clic */
    color: black; /* Testo nero al clic */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25); /* Ombra più accentuata */
}

.spazio{
    width: 0.5rem;
}


/*-------------- for Map Cluster Group --------------------*/
.clusterIcon {
    background-color: #ffffff4a; /* Base color */
    color: rgb(0, 0, 0); /* Text color */
    border-radius: 50%; /* Circular shape */
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Soft shadow */
    transition: transform 0.2s;
}

.clusterIcon:hover {
    transform: scale(1.15); /* Slightly enlarge on hover */
}

.clusterSmall {
    width: 35px;
    height: 35px;
}

.clusterMedium {
    width: 45px;
    height: 45px;
}

.clusterLarge {
    width: 55px;
    height: 55px;
}

.spazio{
    width: 0.5rem;
}


/*-------------- for Map Cluster Group --------------------*/
.clusterIcon {
    background-color: #ffffff4a; /* Base color */
    color: rgb(0, 0, 0); /* Text color */
    border-radius: 50%; /* Circular shape */
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Soft shadow */
    transition: transform 0.2s;
}

.clusterIcon:hover {
    transform: scale(1.15); /* Slightly enlarge on hover */
}

.clusterSmall {
    width: 35px;
    height: 35px;
}

.clusterMedium {
    width: 45px;
    height: 45px;
}

.clusterLarge {
    width: 55px;
    height: 55px;
}

.styles.popup {
    overflow-y: auto;
}